.main {
  height: 100vh;
  width: 100vw;
  background: #f4f4f4;
}

.svg {
  height: 800px;
  width: 800px;
  border: 2px black solid;
}

.circle {
  fill: rgb(57, 120, 171);
}

.country {
  fill: rgb(107, 65, 23);
  stroke: rgb(47, 46, 46);
}
.country:hover {
  fill: rgb(203, 60, 60);
}
.selected {
  fill: rgb(203, 60, 60);
}
