.main {
  height: 100vh;
  width: 100vw;

  position: relative;
  background: rgb(130, 203, 240);
  background: radial-gradient(
    circle,
    rgba(130, 203, 240, 1) 0%,
    rgba(102, 163, 221, 1) 24%,
    rgba(10, 48, 147, 1) 99%
  );
}
